.item-establishment {
    transition: transform 0.3s ease;
    height: 17%;
    background-color: #ffffff;
    border-radius: 10px;
    height: auto;
    width: 96%;
    cursor: pointer;
}

    .item-establishment:hover {
        transform: scale(1.02);
        background-color: #dbdbdb;
    }

    .item-establishment:active {
        transform: none;
        background-color: #b1b1b1;
    }

.item-data {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: block;
}

    .item-data:hover {
        transform: translateY(-.3rem);
        box-shadow:0px 3px 5px #9f9e9e;
    }

    .item-data:active {
        box-shadow:none;
    }

.container-content::-webkit-scrollbar {
    width: 7px;
}

.container-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fff;
}
