@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

    *,
    *:focus {
        outline: none;
    }

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1459865264687-595d652de67e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    height: 80%;
    display: flex;
    background-color: rgb(255, 255, 255, 0.7);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 2px 20px #f9f9f9;
}

.container-logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content {
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

form {
    width: 70%;
    height: 70%;
}

    form .form-floating {
        width: 50%;
        position: relative;
    }

    form::-webkit-scrollbar {
        width: 5px; /* Ancho de la scrollbar vertical */
    }

    form::-webkit-scrollbar-track {
        background: #cccccc; /* Color del track (fondo de la scrollbar) */
        border-radius: 10px;
    }

    form::-webkit-scrollbar-thumb {
        background: #96ae08; /* Color de la scrollbar */
        border-radius: 10px;
    }

        form::-webkit-scrollbar-thumb:hover {
            background: #768a06; /* Color de la scrollbar al pasar el ratón por encima */
        }
/*
input:focus + label {
  top: -18px;
  font-size: 14px;
  background: none;
}*/

.btn-register {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #96ae08;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

    .btn-register:hover {
        background-color: #dbdbdb;
    }

    .btn-register:active {
        background-color: #a5a5a5;
    }
