@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
}


body {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1459865264687-595d652de67e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 10%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

    header .container-logout {
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 100%;
        margin-top: auto;
        transition: background-color ease-out 0.4s, transform ease-out 0.4s;
    }

        header .container-logout:hover {
            background-color: #cccccc;
            transform: scale(1.1);
        }


    header .nav {
        width: 100%;
        height: 100%;
        display: flex;
    }

.nav__menu {
    width: 100%;
    margin-top: 2rem;
}

.nav__item {
    list-style: none;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: right ease 0.5s;
    position: relative;
    cursor: pointer;
}

    .nav__item a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
    }

    .nav__item:hover {
        background-color: #cccccc;
        right: -1rem;
    }

        .nav__item:hover a {
            color: forestgreen;
        }

.nav__logo {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
}

    .nav__logo img {
        width: 150px;
        height: 3rem;
    }

main {
    height: 100vh;
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
