.item-establishment {
    transition: transform 0.3s ease;
    height: 17%;
    background-color: #ffffff;
    border-radius: 10px;
    height: auto;
    width: 96%;
    cursor: pointer;
}

    .item-establishment:hover {
        transform: scale(1.02);
        background-color: #dbdbdb;
    }

    .item-establishment:active {
        transform: none;
        background-color: #b1b1b1;
    }

.container-content::-webkit-scrollbar {
    width: 7px;
}

.container-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fff;
}
