form {
    width:85vw;
    height: 90%;
    display: flex;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    box-shadow: 0px 5px 20px white;
}

.container-controls {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container-content {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .container-content::-webkit-scrollbar {
        width: 7px;
    }

    .container-content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #fff;
    }

.droplist {
    width: 14.4rem;
    height: 2.2rem;
    border-style: none;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 5px;
}

    .droplist:focus {
        outline: none;
        box-shadow: none;
    }
