form {
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255,255,255,0.6);
    border-radius: 20px;
    padding-bottom: 10px;
}


.btn-register {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in;
}

    .btn-register:hover {
        box-shadow: 3px 3px 10px;
    }

    .btn-register:active {
        box-shadow: none;
    }

.item-input {
    width:65%;
}

.droplist {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 2.3rem;
}


